

<%= form_for @new_station, url: {action: "create"} do |f| %>
  Station ID: <%= f.text_field :stid %>
  <%= f.submit "Add Station" %>
<% end %>


<div class="station">
  <h1>My Stations</h1>

  <% if @stations.length > 0 %>
    <table class="table station-table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">State</th>
          <th scope="col">Elevation</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @stations.each do |station| %>

          <tr>
            <th scope="row"><%= station.name %></th>
            <td><%= station.state %></td>
            <td><%= station.elevation %></td>
            <td><%= link_to 'Remove', station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>

        <% end %>
      </tbody>
    </table>
  <% else %>
    You do not have any saved stations. Please add a station to see data.
  <% end %>
</div>



<% @station_data.each do |station| %>

  <div class="station">

    <div class="col-xs-12">
      <h2 class="station-title"><%= station[:name] %> (<%= station[:stid] %>)</h2>
    </div>

    <% station[:tables].each do |table| %>
      <h3><%= table[:title] %></h3>

      <table class="table station-table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Past 24</th>
            <th scope="col">Past 48</th>
            <th scope="col">Past 72</th>
          </tr>
        </thead>
        <tbody>
          <% table[:rows].each do |datum| %>
            <tr>
              <th scope="row"><%= table[:short_title] %> <%= datum[:spec] %></th>
              <td><%= datum[:hourly][:twenty_four] || 'N/A' %></td>
              <td><%= datum[:hourly][:fourty_eight] || 'N/A' %></td>
              <td><%= datum[:hourly][:seventy_two] || 'N/A' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>

    <h3>Graphs yo</h3>

    <div id="temperature-chart"></div>

  </div>

<% end %>

<script>


$(document).ready(function() {

  $.ajax({
     url: '/stations/2/timeseries',
     data: {
        format: 'json',
        days_back: 1
     },
     dataType: 'json',
     type: 'GET'
  }).done(function(data) {
        drawChart(data);
  }).fail(function(error) {
       console.log(error);
  });

  var drawChart = function(data) {

    var tempData;
    var tempCategories;

    tempData        = data.map(function(datum) { return datum.temperature });
    tempCategories  = data.map(function(datum) { return datum.date_time });

    Highcharts.chart('temperature-chart', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Monthly Average Temperature'
        },
        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        xAxis: {
            categories: tempCategories,
            labels: {
                step: 10, // this will show every second label
                rotation: 45
            }
        },
        yAxis: {
            title: {
                text: 'Temperature (°F)'
            }
        },
        tooltip: {
            formatter: function() {
                return 'The value for <b>' + this.x + '</b> is <b>' + this.y + '</b>, in series '+ this.series.name;
            }
        },
        plotOptions: {
            line: {

            }
        },
        series: [{
            name: 'Temperature',
            data: tempData
        }]
    });

  };

});


</script>
