

<!-- <%= form_for @new_station, url: {action: "create"} do |f| %>
  Station ID: <%= f.text_field :stid %>
  <%= f.submit "Add Station" %>
<% end %> -->

<div id="new-station">
  <input class="typeahead" type="text" placeholder="Add new station...">
</div>


<div class="station">
  <h1>My Stations</h1>

  <% if @stations.length > 0 %>
    <table class="table station-table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">State</th>
          <th scope="col">Elevation</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @stations.each do |station| %>

          <tr>
            <th scope="row"><%= station.name %></th>
            <td><%= station.state %></td>
            <td><%= station.elevation %></td>
            <td><%= link_to 'Remove', station_path(station), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>

        <% end %>
      </tbody>
    </table>
  <% else %>
    You do not have any saved stations. Please add a station to see data.
  <% end %>
</div>



<% @station_data.each do |station| %>

  <div class="station">

    <div class="col-xs-12">
      <h2 class="station-title"><%= station[:name] %> (<%= station[:stid] %>)</h2>
    </div>

    <% station[:tables].each do |table| %>
      <h3><%= table[:title] %></h3>

      <table class="table station-table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Past 24</th>
            <th scope="col">Past 48</th>
            <th scope="col">Past 72</th>
          </tr>
        </thead>
        <tbody>
          <% table[:rows].each do |datum| %>
            <tr>
              <th scope="row"><%= table[:short_title] %> <%= datum[:spec] %></th>
              <td><%= datum[:hourly][:twenty_four] || 'N/A' %></td>
              <td><%= datum[:hourly][:fourty_eight] || 'N/A' %></td>
              <td><%= datum[:hourly][:seventy_two] || 'N/A' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>

    <section class="charts">

      <div class="row chart-block">
        <div class="col-md-4">
          <h3>Temperature</h3>
        </div>

        <div class="day-selector col-md-4 pull-right">
          <span>Go back
            <input class="days-back"> days
            <button class="change-days" data-chartType="temperature">GO</button>
          </span>

        </div>
        <div id="temperature-chart-<%= station[:stid] %>" class="temperature-chart chart loading-icon" data-stationId="<%= station[:id] %>"></div>
      </div>


      <div class="row chart-block">
        <div class="col-md-4">
          <h3>Wind</h3>
        </div>

        <div class="col-md-4 toggle-buttons">
          <button class="toggle-button active" data-seriesId="windGust">Gusts</button>
          <button class="toggle-button active" data-seriesId="windSpeed">Wind</button>
        </div>

        <div class="day-selector col-md-4 pull-right">
          <span>Go back
            <input class="days-back"> days
            <button class="change-days" data-chartType="wind">GO</button>
          </span>

        </div>
        <div id="wind-chart-<%= station[:stid] %>" class="wind-chart chart loading-icon" data-stationId="<%= station[:id] %>"></div>
      </div>

    </section>

  </div>

<% end %>

<script>


// Show wind direction on wind graph
// Mark times when faceting could occur on temp graph


// Add new chart click handler
// Add wind direction to wind chart
// Add toggle on/off of series
// refactor out AJAX

$(document).ready(function() {

  getStationList();
  addDaysBackInputHandler();
  addDefaultDaysBack();
  addToggleSeriesHandler();

});

var stations;
var defaultDaysBack = 3;
var windGustDayLimit = 6;

var onInitialChartLoad = function(data, station) {
  snowSense.chartHelper.drawTempChart(data, station.stid);
  snowSense.chartHelper.drawWindChart(data, station.stid);
};

var getStationList = function() {
  $.ajax({
     url: '/station_list',
     dataType: 'json',
     type: 'GET'
  }).done(function(data) {
      stations = data;

      data.forEach(function(station) {
        getTimeSeriesData(station, defaultDaysBack, onInitialChartLoad);
      });
  }).fail(function(error) {
      console.log(error);
  });
};


var getTimeSeriesData = function(station, daysBack, onSuccess) {
  var url = '/stations/' + station.id + '/timeseries';
  $.ajax({
     url: url,
     data: {
        format: 'json',
        days_back: daysBack
     },
     dataType: 'json',
     type: 'GET'
  }).done(function(data) {
      onSuccess(data, station)
  }).fail(function(error) {
      console.log(error);
  });
};


var addDefaultDaysBack = function() {

  var inputs = $('.day-selector input');
  inputs.val(defaultDaysBack);

};

var addDaysBackInputHandler = function() {

  var fetchData = function(e) {
    var $target     = $(e.target);
    var $chartBlock = $target.closest('.chart-block');
    var $chart      = $chartBlock.find('.chart');
    var daysBack    = $chartBlock.find('.days-back').val();
    var stationId   = $chart.attr('data-stationId');
    var station     = findStation(parseInt(stationId));
    var chartType   = $target.attr('data-chartType');

    if (chartType === 'temperature') fetchTemperatureData(station, daysBack, $chart);
    else if (chartType === 'wind') fetchWindData(station, daysBack, $chart);
  };

  var fetchWindData = function(station, daysBack, $chart) {

    var chart = $chart.highcharts();
    snowSense.chartHelper.removeAllSeries(chart);
    chart.showLoading();

    var onSuccess = function(data, station) {
      var windSpeedData   = data.map(function(datum) { return datum.wind_speed });
      var windCategories  = data.map(function(datum) { return new Date(datum.date_time).toLocaleString("en-US") });
      var windGustData    = data.map(function(datum) { return datum.wind_gusts });

      snowSense.chartHelper.addWindSpeedSeries(chart, windSpeedData);
      snowSense.chartHelper.addWindGustSeries(chart, windGustData);
      chart.xAxis[0].setCategories(windCategories);
      chart.hideLoading();
    };

    getTimeSeriesData(station, daysBack, onSuccess);
  };

  var fetchTemperatureData = function(station, daysBack, $chart) {

    var chart = $chart.highcharts();
    snowSense.chartHelper.removeAllSeries(chart);
    chart.showLoading();

    var onSuccess = function(data, station) {
      var tempData        = data.map(function(datum) { return datum.temperature });
      var tempCategories  = data.map(function(datum) { return new Date(datum.date_time).toLocaleString("en-US") });

      chart.addSeries({ data: tempData });
      chart.xAxis[0].setCategories(tempCategories);
      chart.hideLoading();
    };

    getTimeSeriesData(station, daysBack, onSuccess);
  };

  var handleInput = function(e) {
    var $target     = $(e.target);
    var $selector   = $target.closest('.day-selector');
    var daysBack    = $selector.find('.days-back').val();

    removeError($selector);

    var error = undefined;

    if (!parseInt(daysBack)) {
      error = "You must input a number.";
    } else if (parseInt(daysBack) > 60) {
      error = "You may only look back 60 days";
    }

    if (error) addError(error, $selector);
    else fetchData(e);
  };

  $('.change-days').click(handleInput);
};

var addToggleSeriesHandler = function() {

  var onClick = function(e) {
    var $target     = $(e.target);
    var $chartBlock = $target.closest('.chart-block');
    var $chart      = $chartBlock.find('.chart');
    var seriesId    = $target.attr('data-seriesId');
    var chart       = $chart.highcharts();
    var series      = chart.get(seriesId);

    if ($target.hasClass('active')) {
      $target.removeClass('active');
      series.hide();
    } else {
      $target.addClass('active');
      series.show();
    }
  };

  $('.toggle-button').click(onClick);
}

var findStation = function(stationId) {
    for (var i = 0, len = stations.length; i < len; i++) {
        if (stations[i].id === stationId) return stations[i]; // Return as soon as the object is found
    }
    return null; // The object was not found
};


var addError = function(text, $element) {
  var $span = $('<span class="error-message">' + text + '</span>');
  $element.append($span);
};


var removeError = function($element) {
  var $errorMessage = $element.find('.error-message');
  if ($errorMessage.length > 0) $errorMessage.remove();
};


var stations = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {
    url: '/stations/search?query=%QUERY',
    wildcard: '%QUERY'
  }
});


$('#new-station .typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 3,
    displayKey: 'name',
  },
  {
    name: 'states',
    source: stations,
    limit: 10,
    templates: {
    suggestion: function (station) {
        return '<p>' + station.name + '</p>';
      }
    }
  }
);

</script>
